body {
    margin: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-container::after {
    content: "";
    display: block;
    clear: both;
}

.page-container li {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 8px;
    padding: 0 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-sizing: content-box;
}

.page-container li.active {
    border: none;
    color: lightblue;
}

.page-container li.forbid {
    cursor: not-allowed;
    color: #ccc;
}

.page-container~span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: red;
}